= simple_form_for event do |f|
  .form-horizontal
    .form-inputs
      .row
        = f.input :name, class: 'form-control'
      .row
        = f.input :description, class: 'form-control'
      .row
        = f.input :room_id  , collection: ( Room.all), class: 'form-control'
      .row
        = f.input :datetime, class: 'form-control'
      .row
        = f.input :board_game_ids, as: :select, input_html: { multiple: true }, collection: ( BoardGame.all)
    .form-actions
      = f.submit 'Save', class: 'btn btn-success'
