%h1 Events

%table.table
  %tr
    %th Name
    %th Place
    %th Date
    %th Room
    %th
    %th
    %th
  %tr

  - events.each do |event|
    %tr
      %td= event.name
      %td= event.room.address
      %td= event.datetime
      %td= event.room.room_number
      %td= link_to 'Show', event, class: 'btn btn-default'
