%h1 Events

.container
  .row
    .col-md-12
      %h2 Search nearest events:
  .row
    .col-md-8
      = render 'form_find_near'
    .col-md-4
  .row
    .col-md-12
      = link_to 'All events', events_path, class: 'btn btn-default'

%br
%table.table.table-margin
  %tr
    %th Games
    %th Name
    %th Place
    %th Date
    %th Room
    %th
    %th
    %th
  %tr

  - events.each do |event|
    %tr
      %td
        .badge
          .glyphicon.glyphicon-heart
          = event.board_games.count
      %td= event.name
      %td= event.room.address
      %td= event.datetime
      %td= event.room.room_number
      - if current_user
        %td= link_to 'Show', event, class: 'btn btn-success'
        -if event.owner?(current_user)
          %td= link_to 'Edit', edit_event_path(event), class: 'btn btn-info'
          %td= link_to 'Destroy', event, method: :delete, class: 'btn btn-danger'

- if current_user
  = link_to "New Event", new_event_path, class: 'btn btn-primary'
