%h1= event.name

%table.table.table-margin
  %tr
    %th Name
    %td= event.name
  %tr
    %th Address
    %td= event.room.address
  %tr
    %th Event time
    %td= event.datetime.strftime("%d-%m-%Y at %H:%M")
  %tr
    %th Room number
    %td= event.room.room_number

.jumbotron
  %h3 Description
  %p= event.description

- event.board_games.each do |game|
  .container
    .row
      .col-md-8
        %table.table
          %tr
            %th Name
            %th Players
            %th Age
          %tr
            %td= link_to game.name, board_game_path(game.id)
            %td= "#{game.min_players} - #{game.max_players}"
            %td= "> #{game.min_age}"
      .col-md-4
        = game.img_small__url

= link_to 'Back', events_path, class: 'btn btn-default'
