%h1= event.name

%table.table.table-margin
  %tr
    %th Name
    %td= event.name
  %tr
    %th Address
    %td= event.room.to_s
  %tr
    %th Event time
    %td= event.datetime.strftime("%d-%m-%Y at %H:%M")
  %tr
    %th Games count
    %td= event.board_games.count
  %tr
    %th Participants count
    %td= event.users.count

%h3 Description
%p= event.description

%h3
  Games
  ="(#{event.board_games.count})"
%table.table
  %tr
    %th Name
    %th Players
    %th Age
    %th
  - event.board_games.each do |game|
    %tr
      %td= link_to game.name, board_game_path(game.id)
      %td= "#{game.min_players} - #{game.max_players}"
      %td= "> #{game.min_age}"
      %td= image_tag game.img_small__url, class: "small-img"

%br
- if current_user.id == event.owner_id
  .container
    .row
      .col-md-4
        %h3 Invite user to your event!
        = render 'form_invite'
      .col-md-8
%br
%h3
  Participants
  ="(#{event.users.count})"
- event.users.each do |user|
  %table.table
    %tr
      %th Name
      %th Age
    %tr
      %td= "#{user.name}"
      %td= "#{user.age}"

- if user_signed_in?
  / - if event.users.include? current_user
  = link_to 'Unjoin event', event_participant_path(event.id, current_user.id), method: 'delete', class: 'btn btn-danger', data: { confirmation: "Are you sure?" }
  / - else
  = link_to 'Join this event!', event_participants_path(event.id), method: 'post', class: 'btn btn-success'
  <br />
  - if event.owner == current_user
    = link_to 'Edit', edit_event_path(event), class: 'btn btn-info'
= link_to 'Back', events_path, class: 'btn btn-default'

