%h1= event.name

%table.table.table-margin
  %tr
    %th Name
    %td= event.name
  %tr
    %th Address
    %td= event.room.address
  %tr
    %th Event time
    %td= event.datetime.strftime("%d-%m-%Y at %H:%M")
  %tr
    %th Room number
    %td= event.room.room_number
  %tr
    %th Games count
    %td= event.board_games.count
  %tr
    %th Participants count
    %td= event.users.count

.jumbotron
  %h3 Description
  %p= event.description

- event.board_games.each do |game|
  .container
    .row
      .col-md-8
        %table.table
          %tr
            %th Name
            %th Players
            %th Age
          %tr
            %td= link_to game.name, board_game_path(game.id)
            %td= "#{game.min_players} - #{game.max_players}"
            %td= "> #{game.min_age}"
      .col-md-4
        = image_tag game.img_small__url, class: "small-img"

%h3 Participants
- event.users.each do |user|
  .container
    .row
      .col-md-2
      .col-md-8
        %table.table
          %tr
            %th Name
            %th Age
          %tr
            %td= "#{user.name}"
            %td= "#{user.age}"

- if user_signed_in?
  - if event.users.include? current_user
    = link_to 'Unjoin event', event_participant_path(event.id, current_user.id), method: 'delete', class: 'btn btn-danger', data: { confirmation: "Are you sure?" }
  - else
    = link_to 'Join this event!', event_participants_path(event.id), method: 'post', class: 'btn btn-success'
= link_to 'Back', events_path, class: 'btn btn-default'
